/* customize */

:root {
    --bg-primary: #A4BC46;
    --bg-dark: #262729;
    --gray-dark: #999999;
    --light-pink: #FFFBF0;
    --bg-golden: #FABE4C;
}


/* body style */

body {
    font-family: 'Roboto', sans-serif;
}


/* style of ancor */

a {
    text-decoration: none;
    transition: ease all .2s;
}


/* all needed heading style */

h1,
h2 {
    font-family: 'Oswald', sans-serif;
    color: #363958;
}


/* template spacing */

.py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.pt-100 {
    padding-top: 100px;
}


/* template background color */

.bg-light-pink {
    background-color: var(--light-pink);
}


/* tempalte button style */

.btn-primary {
    background-color: var(--bg-primary);
    border: none;
}

.btn-primary:hover {
    background-color: #7a9319;
}


/* navbar style  */

.navbar .nav-link {
    font-weight: 700;
    padding: 10px 20px !important;
}


/* top-demo Text */

.top-demo-text h1 {
    font-size: 60px;
    font-weight: 600;
}

.top-demo-text h1 span {
    color: var(--bg-golden);
}


/* product section style */

.card-title {
    color: brown;
    font-weight: 700;
}

.penguin-card {
    border: 0;
}

.product-img {
    width: 90%;
    height: 50%;
    display: block;
    background-color: azure;
    border-radius: 1px solid red;
}

.penguin-card-footer {
    border: 0;
    background-color: white;
}


/* top rating section style */

.text-top-rating {
    font-size: 20px;
    font-weight: 700;
    color: var(--bg-primary);
}

.filled {
    color: goldenrod;
    font-size: 0.8em;
}

.unfilled {
    color: lightgray;
    font-size: 0.8em;
}